{% extends "layout.html" %}

{% block title %}
    Finance
{% endblock %}

{% block main %}
    {% if reviews %}
        <div class="container">
            <div class="float-left mb-2"><h3>Admin Dashboard</h2></div>
        </div>
        <table class="table table-hover" id="content">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Number</th>
                    <th>Status</th>
                    <th>Name Director</th>
                    <th>Name Accountant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ review.date }}</td>
                        <td>{{ review.user }}</td>
                        <td>{{ review.number }}</td>
                        {% if review.status == "Draft" %}
                            <td><span class="badge badge-pill badge-secondary">{{ review.status }}</span></td>
                        {% elif review.status == "New" %}
                            <td><span class="badge badge-pill badge-primary">{{ review.status }}</span></td>
                        {% elif review.status == "Review" %}
                            <td><span class="badge badge-pill badge-warning">{{ review.status }}</span></td>
                        {% elif review.status == "Accepted" or review.status == "Paid" %}
                            <td><span class="badge badge-pill badge-success">{{ review.status }}</span></td>
                        {% elif review.status == "Denied" %}
                            <td><span class="badge badge-pill badge-danger">{{ review.status }}</span></td>
                        {% else %}
                            <td><span class="badge badge-pill badge-light">{{ review.status }}</span></td>
                        {% endif %}
                        <td>{{ review.name_director }}</td>
                        <td>{{ review.name_accountant }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="/finance/{{ review.id }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="container">
        <div class="float-left mb-2"><h3>List of Forms</h2></div>
    </div>
    <table class="table table-hover" id="content">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Date</th>
                <th>User</th>
                <th>Number</th>
                <th>Status</th>
                <th>Name Director</th>
                <th>Name Accountant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for finance in dashboards %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ finance.date }}</td>
                    <td>{{ finance.user }}</td>
                    <td>{{ finance.number }}</td>
                    {% if finance.status == "Draft" %}
                        <td><span class="badge badge-pill badge-secondary">{{ finance.status }}</span></td>
                    {% elif finance.status == "New" %}
                        <td><span class="badge badge-pill badge-primary">{{ finance.status }}</span></td>
                    {% elif finance.status == "Review" %}
                        <td><span class="badge badge-pill badge-warning">{{ finance.status }}</span></td>
                    {% elif finance.status == "Accepted" or finance.status == "Paid" %}
                        <td><span class="badge badge-pill badge-success">{{ finance.status }}</span></td>
                    {% elif finance.status == "Denied" %}
                        <td><span class="badge badge-pill badge-danger">{{ finance.status }}</span></td>
                    {% else %}
                        <td><span class="badge badge-pill badge-light">{{ finance.status }}</span></td>
                    {% endif %}
                    <td>{{ finance.name_director }}</td>
                    <td>{{ finance.name_accountant }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/finance/{{ finance.id }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}