{% extends "layout.html" %}

{% block title %}
    Finance
{% endblock %}

{% block main %}
    <form action="/finance/{{ finance[0].id }}" method="post">

        <div class="form-group row">
            <div class="col-4">
                <h5>Information</h5>
            </div>
            <div class="col-8">
                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label font-weight-bold">Number</label>
                    <div class="col-sm-4">
                        {% if session.user_id and session.role == "Admin" %}
                            <input name="number" type="text" class="form-control" value="{{ finance[0].number }}">
                        {% else %}
                            <p class="form-control-plaintext font-weight-bold">{{ finance[0].number }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label font-weight-bold">Name</label>
                    <div class="col-sm-4">
                        <p class="form-control-plaintext">{{ finance[0].username }}</p>
                    </div>
                    <label class="col-sm-2 col-form-label font-weight-bold">Director</label>
                    <div class="col-sm-4">
                        {% if session.user_id and session.role == "Admin" %}
                            <input name="name_director" type="text" class="form-control" value="{{ finance[0].name_director }}">
                        {% else %}
                            <p class="form-control-plaintext">{{ finance[0].name_director }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label font-weight-bold">Status</label>
                    <div class="col-sm-4">
                        {% if finance[0].status == "Draft" %}
                            <p class="form-control-plaintext badge badge-pill badge-secondary">{{ finance[0].status }}</p>
                        {% elif finance[0].status == "New" %}
                            <p class="form-control-plaintext badge badge-pill badge-primary">{{ finance[0].status }}</p>
                        {% elif finance[0].status == "Review" %}
                            <p class="form-control-plaintext badge badge-pill badge-warning">{{ finance[0].status }}</p>
                        {% elif finance[0].status == "Accepted" or finance[0].status == "Paid" %}
                            <p class="form-control-plaintext badge badge-pill badge-success">{{ finance[0].status }}</p>
                        {% elif finance[0].status == "Denied" %}
                            <p class="form-control-plaintext badge badge-pill badge-danger">{{ finance[0].status }}</p>
                        {% endif %}
                    </div>
                    <label class="col-sm-2 col-form-label font-weight-bold">Accountant</label>
                    <div class="col-sm-4">
                        {% if session.user_id and session.role == "Admin" %}
                            <input name="name_accountant" type="text" class="form-control" value="{{ finance[0].name_accountant }}">
                        {% else %}
                            <p class="form-control-plaintext">{{ finance[0].name_accountant }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label font-weight-bold">Date</label>
                    <div class="col-sm-4">
                        <input name="date" type="date" class="form-control" value="{{ finance[0].date }}">
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label font-weight-bold">Description</label>
                    <div class="col-sm-10">
                        <textarea name="text" class="form-control">{{ finance[0].text }}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <h5>Documents</h5>
            </div>
            <div class="col-8 text-right">
                <button class="btn btn-success center-block" type="button" onclick="addTransaction()">Add Document</button>
            </div>
        </div>

        <table class="table table-hover" id="content">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Partner</th>
                    <th>Expense</th>
                    <th>Amount, EUR</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.status }}</td>
                        <td>{{ transaction.partner }}</td>
                        <td>{{ transaction.expense }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="/finance/{{ finance[0].id }}/{{ transaction.id }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <div class="text-center">
            {% if finance[0].status == "Draft" %}
                <button class="btn btn-info center-block" type="submit">Save</button>
                <button class="btn btn-info center-block" type="button" onclick="mySubmit({{ finance[0].id }})">Submit</button>
            {% elif finance[0].status == "New" %}
                <button class="btn btn-danger center-block" type="button" onclick="mySubmit({{ finance[0].id }})">Unsubmit</button>
            {% endif %}
            <a class="btn btn-success btn-sm" href="/finance">Back</a>
        </div>
        {% if session.role == "Admin" %}
        <div class="text-center">
            <button class="btn btn-info center-block" type="button" onclick="myAssign({{ finance[0].id }})">Assign To Me</button>
            <button class="btn btn-info center-block" type="submit">Save</button>
        </div>
        <div class="text-center">
            <button class="btn btn-success center-block" type="button" onclick="myAccept({{ finance[0].id }})">Accept</button>
            <button class="btn btn-danger center-block" type="button" onclick="myDeny({{ finance[0].id }})">Deny</button>
            <button class="btn btn-success center-block" type="button" onclick="myPaid({{ finance[0].id }})">Paid</button>
        </div>
        {% endif %}
    </form>

    <script type='text/javascript'>
        function addTransaction() {
            $.get('/finance/{{ finance[0].id }}/create_transaction', function(data) {
                if(data == true) {
                    $('#content').load(document.URL + ' #content');
                }
                else {
                    alert('Failed to Create New Document. Please contact the Admin if this happens again.');
                }
            });
        }

        $('tbody').find('tr').click( function() {
            window.location = $(this).find('a').attr('href');
        }).hover( function() {
            $(this).toggleClass('hover');
        });

        function mySubmit(id) {
            $.get('/finance/' + id + '/submit', function(data) {
               if(data == true) {
                   location.reload();
               }
               else {
                   alert('Form submission failed!');
               }
            });
        }
    </script>

    {% if session.role == "Admin" %}
        <script>
            function myAssign(id) {
                $.get('/finance/' + id + '/assign', function(data) {
                   if(data == true) {
                       location.reload();
                   }
                   else {
                       alert('Assignment failed!');
                   }
                });
            }
            function myAccept(id) {
                $.get('/finance/' + id + '/accept', function(data) {
                   if(data == true) {
                       location.reload();
                   }
                   else {
                       alert('Assignment failed!');
                   }
                });
            }
            function myDeny(id) {
                $.get('/finance/' + id + '/deny', function(data) {
                   if(data == true) {
                       location.reload();
                   }
                   else {
                       alert('Assignment failed!');
                   }
                });
            }
            function myPaid(id) {
                $.get('/finance/' + id + '/paid', function(data) {
                   if(data == true) {
                       location.reload();
                   }
                   else {
                       alert('Assignment failed!');
                   }
                });
            }
        </script>
    {% endif %}
{% endblock %}