{% extends "layout.html" %}

{% block title %}
    Finance
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center">
        <form action="/finance/{{transaction.finance_id}}/{{transaction.id}}" method="post">

            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label font-weight-bold">Status</label>
                </div>
                <div class="col-sm-8">
                    {% if transaction.status == "Draft" %}
                        <p class="form-control-plaintext badge badge-pill badge-secondary">{{transaction.status}}</p>
                    {% elif transaction.status == "New" %}
                        <p class="form-control-plaintext badge badge-pill badge-primary">{{transaction.status}}</p>
                    {% elif transaction.status == "Review" %}
                        <p class="form-control-plaintext badge badge-pill badge-warning">{{transaction.status}}</p>
                    {% elif transaction.status == "Accepted" %}
                        <p class="form-control-plaintext badge badge-pill badge-success">{{transaction.status}}</p>
                    {% elif transaction.status == "Denied" %}
                        <p class="form-control-plaintext badge badge-pill badge-danger">{{transaction.status}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label class="col-form-label font-weight-bold">Date</label>
                    {% if transaction.status == "Draft" or session.role == "Admin" and transaction.fin_status != "Accepted" and transaction.fin_status != "Denied" and transaction.fin_status != "Paid" %}
                        <input name="date" type="date" class="form-control" value="{{transaction.date}}">
                    {% else %}
                        <input name="date" type="date" class="form-control" value="{{transaction.date}}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label class="col-form-label font-weight-bold">Partner</label>
                    {% if transaction.status == "Draft" or session.role == "Admin" and transaction.fin_status != "Accepted" and transaction.fin_status != "Denied" and transaction.fin_status != "Paid" %}
                        <input name="partner" type="text" class="form-control" value="{{transaction.partner}}">
                    {% else %}
                        <input name="partner" type="text" class="form-control" value="{{transaction.partner}}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label class="col-form-label font-weight-bold">Document Type</label>
                    {% if transaction.status == "Draft" or session.role == "Admin" and transaction.fin_status != "Accepted" and transaction.fin_status != "Denied" and transaction.fin_status != "Paid" %}
                        <input name="document_type" class="col-sm-6 custom-select custom-select" type="text" list="document_types" value="{{transaction.document_type}}">
                        <datalist id="document_types">
                            {% for document_type in document_types %}
                                <option>{{document_type}}</option>
                            {% endfor %}
                        </datalist>
                    {% else %}
                        <input name="document_type" class="col-sm-6 custom-select custom-select" type="text" list="document_types" value="{{transaction.document_type}}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label class="col-form-label font-weight-bold">Document Number</label>
                    {% if transaction.status == "Draft" or session.role == "Admin" and transaction.fin_status != "Accepted" and transaction.fin_status != "Denied" and transaction.fin_status != "Paid" %}
                        <input name="document_no" type="text" class="form-control" value="{{transaction.document_no}}">
                    {% else %}
                        <input name="document_no" type="text" class="form-control" value="{{transaction.document_no}}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label class="col-form-label font-weight-bold">Expense</label>
                    {% if transaction.status == "Draft" or session.role == "Admin" and transaction.fin_status != "Accepted" and transaction.fin_status != "Denied" and transaction.fin_status != "Paid" %}
                        <input name="expense" type="text" class="form-control" value="{{transaction.expense}}">
                    {% else %}
                        <input name="expense" type="text" class="form-control" value="{{transaction.expense}}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label class="col-form-label font-weight-bold">Amount €</label>
                    {% if transaction.status == "Draft" or session.role == "Admin" and transaction.fin_status != "Accepted" and transaction.fin_status != "Denied" and transaction.fin_status != "Paid" %}
                        <input name="amount" type="number" step="0.01" min="0" class="form-control" value="{{transaction.amount}}">
                    {% else %}
                        <input name="amount" type="number" step="0.01" min="0" class="form-control" value="{{transaction.amount}}" disabled>
                    {% endif %}
                </div>
            </div>

            {% if session.role == "Admin" %}
                <div class="form-group row">
                    <div class="col-auto">
                        <label class="col-form-label font-weight-bold">Accepted €</label>
                        {% if transaction.fin_status == "Accepted" or transaction.fin_status == "Denied" or transaction.fin_status == "Paid" %}
                            <input name="paid_amount" type="number" step="0.01" min="0" class="form-control" value="{{transaction.paid_amount}}" disabled>
                        {% elif transaction.paid_amount == -0.01 %}
                            <input name="paid_amount" type="number" step="0.01" min="0" class="form-control" value="0.00">
                        {% else %}
                            <input name="paid_amount" type="number" step="0.01" min="0" class="form-control" value="{{transaction.paid_amount}}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                <div class="col-auto mr-auto">
                    {% if transaction.fin_status == "Draft" and transaction.status == "Draft" %}
                        <button class="btn btn-primary" type="submit">Save</button>
                        {% if not errors %}
                            <button class="btn btn-info center-block" type="button" onclick="myTransactionSubmit({{transaction.finance_id}}, {{transaction.id}})">Submit</button>
                        {% else %}
                            <button class="btn btn-info center-block" type="button" onclick="myTransactionSubmit({{transaction.finance_id}}, {{transaction.id}})" disabled>Submit</button>
                            <div class="mt-2">
                            {% for error in errors %}
                                <p class="font-weight-bold text-danger mb-0">{{error}}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% elif transaction.fin_status == "Draft" and transaction.status == "New" %}
                        <button class="btn btn-info center-block" type="button" onclick="myTransactionSubmit({{transaction.finance_id}}, {{transaction.id}})">Unsubmit</button>
                    {% endif %}
                </div>
                <div class="col-auto">
                    <a class="btn btn-success center-block" href="/finance/{{transaction.finance_id}}">Back</a>
                </div>
            </div>

            {% if session.role == "Admin" and transaction.fin_status == "Review" %}
            <div class="form-group row">
                <div class="col-auto">
                    {% if not admin_errors %}
                        <button class="btn btn-primary" type="submit">Save</button>
                        {% if transaction.paid_amount > 0 %}
                            <button class="btn btn-success center-block" type="button" onclick="myTransactionStatus({{transaction.finance_id}}, {{transaction.id}}, 'Accepted')">Accept</button>
                            <button class="btn btn-danger center-block" type="button" onclick="myTransactionStatus({{transaction.finance_id}}, {{transaction.id}}, 'Denied')" disabled>Deny</button>
                        {% else %}
                            <button class="btn btn-success center-block" type="button" onclick="myTransactionStatus({{transaction.finance_id}}, {{transaction.id}}, 'Accepted')" disabled>Accept</button>
                            <button class="btn btn-danger center-block" type="button" onclick="myTransactionStatus({{transaction.finance_id}}, {{transaction.id}}, 'Denied')">Deny</button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-success center-block" type="button" onclick="myTransactionStatus({{transaction.finance_id}}, {{transaction.id}}, 'Accepted')" disabled>Accept</button>
                        <button class="btn btn-danger center-block" type="button" onclick="myTransactionStatus({{transaction.finance_id}}, {{transaction.id}}, 'Denied')" disabled>Deny</button>
                        <div class="mt-2">
                            {% for error in admin_errors %}
                                <p class="font-weight-bold text-danger mb-0">{{error}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if transaction.status == "Draft" or session.role == "Admin" %}
            <div class="form-group row">
                <div class="col-auto">
                    <button class="btn btn-danger center-block" type="button" onclick="myTransactionDelete({{transaction.finance_id}}, {{transaction.id}})">Delete</button>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}