{% extends "layout.html" %}
{% block title %}: Log In{% endblock %}

{% block main %}
    <div class="logreg mt-5">
        <h3 class="mb-4">Log In</h3>
        <form class="w-25" action="/login" method="post">
            <div class="form-group">
                <input class="form-control" autocomplete="off" autofocus name="email" placeholder="Email" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" autocomplete="off" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-info" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}