{% extends "layout.html" %}
{% block title %}: Register{% endblock %}

{% block main %}
    <div class="logreg register mt-5">
        <form id="register-form" action="/register" method="post">
            <h3 class="mb-4">Register New Account</h3>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email</label>
                <input id="email" class="form-control" name="email" autocomplete="off" type="text" placeholder="email@email.com" autofocus>
            </div>
            <div class="form-group">
                <label for="name" class="font-weight-bold">Name & Surname</label>
                <input id="name" class="form-control" name="name" type="text" placeholder="Name">
            </div>
            <div class="form-group">
                <input id="surname" class="form-control" name="surname" type="text" placeholder="Surname">
            </div>
            <div class="form-group">
                <label for="password" class="font-weight-bold">Password</label>
                <input id="password" class="form-control" name="password" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input id="confirmpassword" class="form-control" name="confirmpassword" type="password" placeholder="Confirm Password">
            </div>
            <button id="submit-button" class="btn btn-info" type="submit">Register</button>
        </form>
    </div>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
{% endblock %}