{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h3 class="mb-4">Change Password</h3>

    <form action="/change_password" method="post">
        <div class="form-group">
            <input name="current_password" type="password" id="inputPassword" class="form-control" placeholder="Old Password">
        </div>

        <div class="form-group">
            <input name="new_password1" type="password" id="inputPassword" class="form-control" placeholder="New Password">
        </div>

        <div class="form-group">
            <input name="new_password2" type="password" id="inputPassword" class="form-control" placeholder="New Password (Again)">
        </div>

        <div class="form-group">
            <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
            <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}